# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.*.backup
.terraform.tfstate.lock.info
.terraform.lock.hcl
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfvars
!terraform.tfvars.example

# Credentials
creds/
*.p12
.env.aws

# Cached CE image
.ce-image-cache/

bugs/
